<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="allbody"    style="    background-image: url(../assets/photos/stock1.jpg); opacity: 0.8;
  " >
    <div *ngFor="let company of paginatedData" class="mb-2 p-2 border rounded">
      {{ company.name }} ({{ company.symbol }})
    </div>
    <div class="flex justify-center gap-2 mt-4">
      <button
        class="p-2 bg-gray-700 text-white rounded"
        [disabled]="currentPage === 1"
        (click)="changePage(currentPage - 1)"
      >
        Previous
      </button>
      <button
        class="p-2 bg-gray-700 text-white rounded"
        [disabled]="currentPage === totalPages"
        (click)="changePage(currentPage + 1)"
      >
        Next
      </button>
    </div>
  </div>
</body>
</html>


