<!DOCTYPE html>
<html>

  <app-navbar></app-navbar>
  <div class="flex">
    <app-sidebar> </app-sidebar>
    <div class="flex-1 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="flex-1 p-4">
    <app-exchange></app-exchange> -->
    <!-- Using the ExchangeComponent here -->
  <!-- </div> -->


    
    <!-- <div class="flex-1 p-4">
      <router-outlet></router-outlet>
    </div> -->

    <!-- <div class="flex-1 p-4">
      <app-metadata> </app-metadata>
    </div> -->

</html>
