<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
</head>
<body>
  <nav class="bg-blue-900 text-white shadow-md">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <!-- Logo -->
        <div class="flex items-center">
          <img src="assets/photos/logo.jpg" alt="Logo" class="h-11 w-11">
          <a routerLink="/" class="ml-4 text-xl font-bold hover:underline">INVESTIFY</a>
        </div>

        <!-- Search Bar -->
        <div class="hidden md:block w-1/3">
          <input
            type="text"
            placeholder="{{ 'NAVBAR.SEARCH_PLACEHOLDER' | translate }}"
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
            class="w-full px-4 py-2 rounded-lg bg-white-800 text-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>

        <!-- Navigation Links -->
        <div class="hidden md:flex space-x-6">
          <a routerLink="/exchange" class="hover:underline cursor-pointer">{{ 'NAVBAR.HOME' | translate }}</a>
          <a routerLink="/about"class="hover:underline cursor-pointer">{{ 'NAVBAR.ABOUT' | translate }} </a>
          <a routerLink="/contact" class="hover:underline cursor-pointer">{{ 'NAVBAR.CONTACT' | translate }}</a>
        </div>

        <!-- Language Toggle -->
        <div class="hidden md:flex space-x-4">
          <button
            class="px-6 py-3 bg-blue-700 text-white font-semibold rounded-full shadow-md hover:bg-blue-900 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
            (click)="toggleLanguage('en')"
          >
            EN
          </button>
          <button
            class="px-6 py-3 bg-blue-700 text-white font-semibold rounded-full shadow-md hover:bg-blue-900 transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer"
            (click)="toggleLanguage('de')"
          >
            DE
          </button>
        </div>

        <!-- Mobile Menu Button -->
        <div class="md:hidden flex items-center">
          <button (click)="toggleMobileMenu()" class="p-2 text-gray-400 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <!-- Display Not Found
  <div *ngIf="noResultsFound" class="container mx-auto mt-8 text-center text-red-500">
    <h2 class="text-2xl font-bold">404 - Not Found</h2>
    <p>{{ 'NAVBAR.NOT_FOUND' | translate }}</p>
  </div> -->
</body>
</html>
